<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xsi:schemaLocation=
 "http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 http://www.springframework.org/schema/context 
 http://www.springframework.org/schema/context/spring-context-4.0.xsd
 http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
 http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
 default-autowire="byName" default-lazy-init="true">

 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
 		<property name="jdbcUrl" value="${jdbcUrl}"></property>
 		<property name="driverClass" value="${driverClass}"></property>
 		<property name="user" value="${user}"></property>
 		<property name="password" value="${password}"></property>
 	</bean>
 	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
 		<property name="dataSource" ref="dataSource"/>
 		<property name="hibernateProperties">
            <props>
            	<prop key="hibernate.connection.autocommit">true</prop> 
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
            </props>
        </property>
 		<property name="mappingResources">
 			<list>
 				<value>org/mr/wu/model/Invitation.hbm.xml</value>
 				<value>org/mr/wu/model/Reply.hbm.xml</value>
 			</list>
 		</property>
 	</bean>
 	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"/>
 	<!-- 注解驱动-->  
    <tx:annotation-driven proxy-target-class="true" transaction-manager="txManager"/>
   <!--  <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="*" read-only="false"/>
        </tx:attributes>
    </tx:advice>
 	 Aop配置 = 切入点表达式(拦截目标对象，生成代理)  + 事务增强应用
    <aop:config>
        <aop:pointcut expression="execution(* cn.ljxt.ssh.service.impl.*.*(..))" id="pt"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pt"/>
    </aop:config> -->
 </beans>